  <html>
    <body>
    <h1 > SOCIALNETWORKING <br></h1>
    Hi,<br>Thank you for registering.<br><br><br>
   
     <a href="localhost:3000/activate/<%= @msg %>"> Click the link below to activate your account </a> 
    <br>SOCIALNETWORKING Team
    </body> </html>


