    <html>
    <body>
    <h1 > SOCIALNETWORKING <br></h1>
    Hi,<br>Your account has been activated.<br><br><br>
   
     <a href="localhost:3000/user_sessions/new"> Click the link to LOGIN </a> 
    <br>SOCIALNETWORKING Team
    </body> </html>