    <html>
    <body>
    <h1 > LetsMeet <br></h1>
    Hi,<br>Your password is reset successfully.<br><br><br>
   
     <a href="<%= SITE_URL %>/newpass/<%= @msg %>"> Click here to reset the password </a> 
    <br>Regards,letsmeet Team
    </body> </html>
    
