<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-Language" content="en-gb" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="The City - A Personal Portfolio" />
<meta name="keywords" content="the city, ubik, ubik studios" />
<meta name="author" content="Design and Coding by: ubik Studios - Contact me: yewbic[at]yahoo[dot]com" />
<title>The City Of Angels</title>
<link href="stylin.css" rel="stylesheet" type="text/css" />

<!--
The following are CSS Conditional Comments to fix 
IE's min-height non-existence and also, the fact 
that serif fonts do not render exactly the same 
size in all browsers. "lt IE 6" is equivalent to 
"less than IE 6". -ubik
-->

<!--[if lt IE 6]>
<style type="text/css">
.content {height:250px}
#main {height:400px}
h1 {font-size:50px}
</style>
<![endif]-->

<!--[if IE 6]>
<style type="text/css">
.content {height:190px}
#main {height:400px}
h1 {font-size:55px}
</style>
<![endif]-->

</head>


<body>
<div id="container">

<div id="header">
<h1>The City</h1>
</div>

<!-- Just add new links with the class "item" for more menu items -->
<div id="menu">
<a class="item" href="#">Home</a>
<a class="item" href="#">Portfolio</a>
<a class="item" href="#">Contact</a>
<a class="item" href="http://www.openwebdesign.org/userinfo.phtml?user=yewbic">About Me</a>


<div class="leftbox">
<h4>ubik's Favorites</h4>
Here are a few links to some of my favorite places I visit on a regular basis:
<ul>
<li><a href="http://www.codingforums.com">CodingForums.com</a></li>
<li><a href="http://www.openwebdesign.org">OpenWebDesign.org</a></li>
<li><a href="http://www.w3schools.com">w3schools.com</a></li>
<li><a href="http://www.cssbeauty.com">CssBeauty.com</a></li>
<li><a href="http://cssvault.com">CssVault.com</a></li>
<li><a href="http://www.csszengarden.com">CssZenGarden</a></li>
</ul>
</div>

<div class="leftbox">
<h4>web Designers</h4>
Here is an unordered list of some Web Designers, whose styles I have recently 
taken a liking to:
<ul>
<li><a href="http://www.studio7designs.com">studio7designs.com</a></li>
<li><a href="http://www.markaylward.co.uk">MarkAylward.co.uk</a></li>
<li><a href="http://www.andreasviklund.com">AndreasViklund.com</a></li>
<li><a href="http://www.madseason.co.uk">MadSeason.co.uk</a></li>
<li><a href="http://www.hazelryan.co.uk">HazelRyan.co.uk</a></li>
<li><a href="http://www.wildleaf.net">wildleaf.net</a></li>
<li><a href="http://www.karenblundell.com">KarenBlundell.com</a></li>
</ul>
</div>

</div> <!--End "Menu" or left column in other words-->


<!-- All content inside the "main" container should be wrapped with "bottomRight" 
and "content" containers, for the box effect. -->

<div id="main">

<div class="bottomRight">
<div class="content">
<h2>Welcome</h2>
<p>
Hello And welcome to 'The City' of Angels, a personal portfolio site. I am 
ubik, a 5+ year freelance graphic designer. I have just began to design my 
websites in CSS. I feel that CSS really gives you much control over all of 
your content. I'm glad that I switched from photoshop slices, and dreamweaver 
tables to hand-coding all my work. gotta love that notepad, especially the 
'Find' feature.
</p>
</div>
</div>


<div class="bottomRight">
<div class="content">
<h2>About The Code</h2>
<p>
This design took me about 3 days to make, 1 whole day to design the banner, 
lol and another full day to debug ;) All images have been created by myself 
and you wont find that banner anywhere else on the net, It's a ubik 1 of a kind. 
The clouds came from a royalty free image of a los angeles beach sunset. The buildings 
are Los Angeles and I toned them to almost nothing but shadows. The purple colorings 
inside the buildings are sample texture from some purple lighting. And alot of touch 
up work went into the image, hope you like it.
</p>
<p>
This page validated as XHTML 1.0 Strict and valid CSS. Tested and Tweaked to suit the 
needs of:
</p>
<ul>
<li><a href="http://www.mozilla.com/firefox/">Firefox 1.5</a></li>
<li><a href="http://www.opera.com">Opera 8.5.3</a></li>
<li><a href="http://www.mozilla.org/products/mozilla1.x/">Mozilla 1.7.12</a></li>
<li>Internet Explorer 6</li>
<li>Firefox 1.0</li>
<li>Internet Explorer 5.5</li>
<li>Avant Browser</li>
</ul>
<p>
I like to write clean, simplified HTML. I believe that all of the complexity should go into 
your CSS/JavaScript Files (This design uses absolutely no JavaScript). It's good practice 
to write easily human readable code and keep it all non-inline.
</p>
</div>
</div>


<div class="bottomRight">
<div class="content">
<h2>Making The Design Your Own</h2>
<p>
I thought I would add this little section for people who want to download and customize 
this template. If you have Photoshop, you can open each picture in the template then in 
the top main menu go to <b>IMAGE -> Adjustments -> Hue/Saturation</b>. The HUE is to toggle 
the main color in the image. Saturation is nice, it lets you adjust the vividness of the 
color, if its too bright tone the saturation down a bit. When you're finished go to <b>File 
-> Save For Web</b>. Under settings you should use JPEG compression either HIGH, MEDIUM, 
or LOW.
</p>
<p>
No Photoshop?.. No Problem! 'The Gimp' is an excellent alternative to Photoshop, it is 
opensource and FREE! The Gimp was written for Linux/Unix Operating Systems, but you can 
run it on a Windows Platform by first installing the GTK Runtime Environment. You can 
download it all here:
</p>
<a href="http://gimp-win.sourceforge.net/stable.html">http://gimp-win.sourceforge.net/stable.html</a>
<p>
The first link on that page is The Gimp Application, the second link is the GTK RunTime 
environment needed to run GIMP, and the third link is the GTK RunTime Environment for 
Windows98/ME and NT4.
</p>
<p>
The GIMP Interface runs best at 1024x768 resolution. Once you have the GIMP installed you 
can open up any image from the toolbox by going to File -> Open. Then on the image if you'll 
notice it has a menu right above it, go to <b>LAYER -> COLORS -> HUE-SATURATION</b>. 'Master' 
controls all the colors in the image, toggle the Hue to change the main colors. Saturation 
is to adjust the vividness of the color in the image. Have Fun.
</p>
</div>
</div>


<div class="bottomRight">
<div class="content">
<h3>Who I Am</h3>
<p>
I live in the Los Angeles County and I first began to design party flyers, 
back when I was around 16, about 5 years ago.. I was inspired by a Top 
Notch graphic design company who were the leading party flyer designers. 
They had designers that not only worked with Photoshop/PaintshopPro/corel, 
but also 3D Studio Max and such.. I must say their designs were awe inspiring. 
My cousin and I, then set out to compete with them. If am 'technique' then he 
is 'True Skill', much props go out to him.. he's the real artist between the 
two of us, and so we did pretty good in designing until the whole thing just 
phased out and so now here I am, lol.. designing websites trying to start a 
revolution, haha.  ;)
</p>
<p>
As for this design, ofcourse all of the images came in just under 25KB :) What 
can I say, I love graphic design. I'll end it with a favorite quote:
</p>
<p>
"Choose a job you love and you will never have to work a day in your life." -Confucius
</p>
</div>
</div>


</div>

<!--If you have many links, you can edit the margin-left in "#footer a" in the CSS--> 
<div id="footer">
<a href="#">Home</a>
<a href="#">Portfolio</a>
<a href="#">Contact</a>
<a href="http://www.codingforums.com/member.php?u=27889">About Me</a>

<!--please keep designed by message, I made it small and dark. thanks-->
<p>design by: <a href="mailto:yewbic@yahoo.com">ubik</a></p>

</div>

</div>
</body>
</html>